<div class="container">
  <h1 class="text-light">Shopping Cart</h1>

  <% if @cart.empty? %>
    <h2 class="text-light">No items in cart</h2>
  <% else %>
    <% total = 0%>
    
    <ul class="text-dark" style="list-style: none;">
      <% @cart.each do |product|%>
        <li class="bg-light border-dark p-2 my-3">
          <% current_product = Product.find(product[0])%>
          <div class="h4">
            <%= current_product.name %>     
          </div>

          <div class="h5">
            <% if current_product.sale_price %>
              Price Per Item: $<%= current_product.sale_price %>
              <% total += current_product.sale_price*product[1]%>
            <% else %>
              Price Per Item: $<%= current_product.base_price %>
              <% total += current_product.base_price*product[1]%>
            <% end %>
          </div>

          <div>
            <%= form_with url: modify_cart_quantity_path(product[0]), method: :post do |form|%>  
              
              <div class="my-2">
                <%= form.label :quantity, "Product Quantity:"%>
                <%= form.text_field :quantity, value: product[1], style: "width: 3rem; text-align: right;" %>
                <%= form.submit "Modify Quantity" %> 
              </div>

            <% end %>
          </div>

          <div class="h5">
            <% if current_product.sale_price %>
              Price For All: $<%= sprintf('%.2f', current_product.sale_price * product[1])%>
            <% else %>
              Price For All: $<%= sprintf('%.2f', current_product.base_price * product[1]) %>
            <% end %>
          </div>

          <div class="my-3">
            <%= button_to 'Remove From Cart', remove_from_cart_path(product[0]), method: :delete %>
          </div>
        </li>
      <% end %>
    </ul>

    <h3 class="text-light">Current Order Sub-Total: $<%= sprintf('%.2f', total) %></h3>

    <div class="" style="font-size: 15px;">
      <%= form_with url: "/invoice", method: :get do |form|%>  
        
        <div class="my-2">
          <%= form.label :address, "Address:", class: "mx-0", style: "width: 8rem" %>
          <%= form.text_field :address, class: "w-75", value: current_user.address %>
        </div>

        <div class="my-2">
          <%= form.label :category, "Province:", class: "mx-0", style: "width: 8rem" %>
          <select name="Province" id="province" class="w-75" %>
            <% @provinces.each do |province| %>
              <option value="<%= province.id %>" <% if current_user.province_id == province.id %> selected <% end %>><%= province.name %></option>
            <% end %>
          </select>
        </div>

        <div class="my-2">
          <%= form.label :city, "City:", class: "mx-0", style: "width: 8rem" %>
          <%= form.text_field :city, class: "w-75", value: current_user.city %>
        </div>

        <div class="my-2">
          <%= form.label :zip_code, "Zip Code:", class: "mx-0", style: "width: 8rem" %>
          <%= form.text_field :zip_code, class: "w-75", value: current_user.zip_code %>
        </div>

        <div class="">
          <%= button_to 'Continue to Order', invoice_path, method: :get %> 
        </div>

      <% end %>
    </div>

    <%= button_to 'Keep Shopping', products_path, method: :get %>
  <% end %>
</div>



