<nav class="navbar navbar-expand-xl bg-dark navbar-dark">
  <div class="container">
    <%= link_to "Cody's Card Cove", root_path, class: "navbar-brand" %>
    <div class="navbar-nav ms-auto">
      <%= link_to "Home", root_path, class: "nav-item nav-link" %>
      <%= link_to "Products", products_path, class: "nav-item nav-link" %>
      <%= link_to "About Us", about_path, class: "nav-item nav-link" %>
      <%= link_to "Contact Us", contact_path, class: "nav-item nav-link" %>
      
      <% if not user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item nav-link" %>
        <%= link_to "Sign In", new_user_session_path, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Cart", cart_path, class: "nav-item nav-link" %>
        <%= link_to "Edit Account", edit_user_registration_path, class: "nav-item nav-link" %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-item nav-link" %>
      <% end %>

    </div>
  </div>
</nav>